<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyk9ILULt4xcyptQnU7nudiJ_0UcUrm0o</string>
	<key>GCM_SENDER_ID</key>
	<string>595966483172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cibertec.oficinas-casas</string>
	<key>PROJECT_ID</key>
	<string>oficinascasasios2</string>
	<key>STORAGE_BUCKET</key>
	<string>oficinascasasios2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595966483172:ios:68a386a0e5e166505f2af1</string>
</dict>
</plist>